* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 { font-size: 2.0; }
h2 { font-size: 2.7em; }
h3 { font-size: 2em; }
p { font-size: 1.25em; }
ul { list-style: none; }
li { font-size: 1.00em; }

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(234, 10, 196, 0.5);
    color: white;
    background-color: rgb(231, 50, 216);
}

button:hover {
    background-color: rgb(218, 91, 167);
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento { color: rgb(211, 44, 183); }

header {
    background-color: rgb(245,245,245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(201, 57, 175);
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: rgb(185, 84, 135);
}

#ropa {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(247, 213, 240, 0.404),
        rgba(255, 235, 250, 0.208)
    ), url("media/ropaF.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px; /* Espacio añadido */
}

#ropa h1 {
    color: rgb(0, 0, 0);
}

#ropa button {
    font-size: 1.75em;
}

#ropa .container {
    text-align: center;
    padding: 300px 12px;
}

#nosotros {
    background-color: rgb(6, 0, 5);
    color: rgb(255, 0, 174);
    text-align: center;
    margin-top: 50px; /* Espacio añadido */
}

#catalogo .container {
    padding: 150px 12px;
}

#catalogo h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#catalogo p {
    display: none;
}

#catalogo .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(141, 128, 128, 0.341),
        rgba(0, 0, 0, 0.109)
    ), url("media/ropae.jpg");
}

.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("media/vestidos.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(241, 238, 238, 0),
        rgba(229, 225, 225, 0.115)
    ), url("media/vestidos.jpg");
}

#contacto .container {
    text-align: center;
    padding: 250px 12px;
}

#contacto li {
    margin: 16px 0px;
    font-weight: bold;
}

#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: rgb(243, 7, 168);
    height: 80vh;
}

#final h2 {
    font-size: 9vw;
}

#final button {
    font-size: 5vw;
}

footer {
    background-color: rgb(244, 135, 195);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #ropa h1 {
        font-size: 3em;
    }

    #nosotros .container {
        display: flex;
        justify-content: space-evenly;
    }

    #nosotros .texto {
        width: 50%;
        max-width: 500px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nosotros h2 {
        margin-top: 0px;
    }

    #nosotros .img-container {
        background-image: url("media/logo2.png");
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 500px;
    }

    #catalogo .programas {
        display: flex;
        justify-content: center;
    }

    #catalogo p {
        display: block;
        margin-bottom: 20px;
    }

    #catalogo h2 {
        font-size: 4em;
    }

    #catalogo h3 {
        margin-top: 0;
    }

    #catalogo .carta {
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(248, 158, 212, 0.612);
        box-shadow: 2px 2px 10px rgba(253, 129, 222, 0.5);
    }

    .carta:first-child {
        background-image: linear-gradient(
            0deg,
            rgba(233, 162, 215, 0.476),
            rgba(246, 135, 231, 0.513)
        ), url("media/ropae.jpg");
    }

    .carta:nth-child(2) {
        background-image: linear-gradient(
            0deg,
            rgba(226, 75, 160, 0.336),
            rgba(237, 32, 148, 0.308)
        ), url("media/");
    }

    .carta:nth-child(3) {
        background-image: linear-gradient(
            0deg,
            rgba(214, 124, 185, 0.562),
            rgba(231, 127, 212, 0.5)
        ), url("media/ropaF.jpg");
    }


    #contacto {
        background-image: url("media/Ropa-de-mujer-de-moda-1024x576.webp");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #contacto .container {
        text-align: initial;
    }

    #contacto ul {
        margin-left: 100px;
    }

    #final h2 {
        font-size: 5em;
    }

    #final button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #contacto {
        background-position-x: calc(100vw - 800px);
    }
}
